<!DOCTYPE html>
<title>About</title>
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8 my-2">
			<h1>Projects</h1>
			<p>Here are some of the projects I am currently working on:</p>
			<ul class="list-group">
				<li class="list-group-item">
					<h3 class="mb-1">Internet Explorer Launcher</h3>
					<span class="mb-1">A way to launch Internet Explorer on Windows 11</span>
					<div class="float-end">
						<a class="btn btn-dark btn-sm mt-1" href="https://github.com/ciao1092/IELauncher#readme" target="_blank">
							View project Home page
							<i class="bi bi-arrow-up-right-square ms-2"></i>
						</a>
						<a class="btn btn-dark btn-sm mt-1" href="https://ciao1092.github.io/IELauncher" target="_blank">
							Read the Docs
							<i class="bi bi-arrow-up-right-square ms-2"></i>
						</a>
					</div>
				</li>
				<li class="list-group-item">
					<h3 class="mb-1">UEFI HTML</h3>
					<span class="mb-1">A simulation of a HP UEFI</span>
					<div class="float-end">
						<a class="btn btn-dark btn-sm mt-1" href="https://github.com/ciao1092/uefi-html#readme" target="_blank">
							View project Home page
							<i class="bi bi-arrow-up-right-square ms-2"></i>
						</a>
						<a class="btn btn-dark btn-sm mt-1" href="https://ciao1092.github.io/uefi-html" target="_blank">
							View Deployment
							<i class="bi bi-arrow-up-right-square ms-2"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-lg-4 my-2">
			<h1>Internet platforms</h1>
			<p>Here you can find my online accounts:</p>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="mb-1 h5">Mastodon</span>
					<a class="btn btn-sm btn-mastodon float-end" href="https://mastodon.galileivr.org/@admin" target="_blank" rel="me">
						Mastodon account
						<i class="bi bi-mastodon ms-2"></i>
					</a>
				</li>
				<li class="list-group-item">
					<span class="mb-1 h5">GitHub</span>
					<a class="btn btn-github btn-sm float-end" href="https://github.com/ciao1092" target="_blank">
						GitHub account
						<i class="bi bi-github ms-2"></i>
					</a>
				</li>
				<li class="list-group-item d-none">
					<span class="mb-1 h5">Instagram</span>
					<a class="btn btn-instagram btn-sm float-end" href="https://www.instagram.com/" target="_blank">
						Instagram account
						<i class="bi bi-instagram ms-2"></i>
					</a>
				</li>
				<!-- I haven't used twitter for ages
				<li class="list-group-item">
					<span class="mb-1 h5">Twitter/X</span>
					<a class="btn btn-twitter btn-sm float-end" href="https://twitter.com/ciao1092" target="_blank">
						<i class="bi bi-twitter-x me-2"></i> account
					</a>
				</li> -->
			</ul>

			<hr />

			<div class="fill" style="background-image: url('https://github-readme-stats.vercel.app/api?username=ciao1092&show_icons=true');"></div>
			<style>
				.fill {
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			</style>
		</div>
	</div>
</div>
