<!DOCTYPE html>
<title>Home</title>
<div class="card text-bg-dark rounded-0 border-0 overflow-hidden">
	<div style="
			background-image: url(Resources/img/background.png);
			background-repeat: no-repeat;
			background-size: cover;
		" class="card-img img-fluid vh-100"></div>
	<div class="card-img-overlay backdrop-blur">
		<div class="d-flex text-center flex-column justify-content-center h-75 p-0 m-0">
			<div>
				<h1></h1>
				<a href="#/about" class="btn btn-lg btn-dark">About me <i class="bi bi-chevron-compact-right"></i></a>
			</div>
		</div>
	</div>
</div>